body{
    margin:0px !important;
    padding:0px !important;
}

.menu-text{
    font-weight: bolder;
    color: darkgreen;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu-color{
    background-color: white !important;
    box-shadow: 0px 3px 3px #aaa;
}

#banner{
    width: 100%;
}

img{
    width: 100%;
}

.inner-text{
    padding-top: 10%;
    width: 70%;
    margin: auto;
    font-size: 120%;
}

#activities{
    padding: auto;
    margin: auto;
    background-image: url("");
    background-size: cover;
    color: white;
}
